body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

::selection {
    background: #fff0a7;
    color: black;
}
::-moz-selection {
    background: #fff0a7;
    color: black;
}

#content {
    margin: 0 auto;
    width: 50%;
}

#menu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#menu-title > a {
    text-decoration: none;
}
#menu-title-text {
    color: #333;
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 10px;
}

#menu-content > a {
    text-decoration: none;
    margin-left: 10px;
    color: rgba(0,0,0,.6);
    font-size: 1rem;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 5px;
}
#menu-content > a:hover {
    color: #0e0e0e;
    background-color: #f2f2f2;
}

#presentation {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

#presentation-left {
    width: 60%;
    padding: 75px 0px;
}
#presentation-left-title {
    display: block;
    font-weight: 600;
    font-size: 2.5rem;
}
#presentation-left-text {
    display: block;
    margin: 20px 0;
    color: rgba(0,0,0,.6);
    font-size: 1.2rem;
    line-height: 1.5;
}

.text-keyword {
    color: #5183f5;
    font-weight: 600;
}


#presentation-right {
    width: 26%;
    background: radial-gradient(circle at 20% 20%,#5183f5 25%,#4640ff 100%);
    border-radius: 10px;
    box-shadow: .5rem 1.25rem 1.75rem 0 rgba(100,110,140,.4);
    text-align: center;
    padding: 25px;
}
#presentation-right-photo {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
#presentation-right-title {
    display: block;
    margin: 10px 0px;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}
#presentation-right-text {
    color: white;
    margin: 20px 0px;
    font-size: 1rem;
    opacity: 0.8;
    display: block;
}
#subscribe-button {
    display: block;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    background-color: white;
    color: #5183f5;
}

.section {
    margin-top: 100px;
}
.section-title {
    display: block;
    font-size: 25px;
    font-weight: 600;
}

.section-list {
    margin-top: 20px;
}
.section-container {
    display: flex;
    padding: 15px 10px;
    border-bottom: 1px solid #dbdbdb;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.section-container:hover {
    background-color: #f2f2f2;
}
.section-container:hover .project-container-description {
    font-style: italic;
}

.badges {
    border-radius: 10px;
}
.article-badge {
    margin-top: 20px;
}

.section-redirection {
    width: 90%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-logo {
    font-size: 25px;
    width: 5%;
}
.project-container-name {
    display: block;
    width: 15%;
    padding-left: 25px;
    font-size: 14px;
    font-weight: 500;
    color:#0e0e0e;
}
.project-container-description {
    display: block;
    width: 70%;
    font-size: 14px;
    color: #454545;
}
.project-container-link {
    text-decoration: none;
    width: 10%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5183f5;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
}

.talk-container-description {
    display: block;
    width: 80%;
    font-size: 14px;
    color: #0f0f0f;
}

#skills-section {
    background: linear-gradient(143deg, rgba(81,131,245,1) 0%, rgba(70,64,255,1) 100%);
    margin-top: 100px;
    padding: 50px 0;
}
#skills-title {
    width: 50%;
    margin: 0 auto;
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
#skills-box {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.skills-item {
    flex: 40%;
    margin: 10px;
    padding: 1rem;
    background-color: white;
    box-shadow: .5rem 1.25rem 1.75rem 0 rgba(0,0,0,.3);
    border-radius: 6px;
}
.skills-item-title {
    font-weight: 500;
}
.skills-item-imgbox {
    margin-top: 10px;
    text-align: center;
}
.skills-item-img {
    display: inline-block;
    width: 31%;
    margin-top: 20px;
}
.skills-item-img > img {
    width: 50px;
    height: 50px;
}


#footer {
    width: 45%;
    margin: 0 auto;
}

#footer-list {
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
}
.footer-text {
    text-decoration: none;
    color: #777777;
    margin-right: 20px;
    line-height: 30px;
    font-size: 13px;
    font-weight: 500;
}
.footer-text:hover{
    color:#0e0e0e;
}

.footer-right-logo {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.view-all {
    text-decoration: none;
    color: #5f5f5f;
    background-color: #f2f2f2;
    font-size: 0.8rem;
    padding: .5rem .75rem;
    margin-left: 25px;
    border-radius: 6px;
    font-weight: 500;
}